.post-affiche {
  background-color: lightgrey;
  display: grid;
  justify-content: center;
}

.photo-media {
  grid-column: 1;
  grid-row: 1 / -1;
  align-self: center;
}

.post-detail {
  grid-column: 2;
  padding-left: 50px;
}

.diffDate {
  font-size: 12px;
}
